.hover-jump a {
    transition: 0.9s;
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
}
.hover-jump a:hover {
    text-shadow: 0px 0px 2px #FFF;
    font-size: 1.14em;
}
.input-field label {
    color: #FFF;
}
.theme-color {
    background-color: DeepSkyBlue !important;
}
.fa-color {
    color: #2c3e50;
}
.background-color {
    background-color: #ecf0f1; /* Clouds (light gray) */
}

.slides {
    box-shadow: 0px 12px 17px rgb(163, 163, 163) !important;
}

/* Style properties for app=account */
.authBox {
    padding: 45px;
    border-radius: 8px;
    width: 45%;
    margin: 0 auto;
    border: none;
}
.messageBox {
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    opacity: 0.8;
}
/* Sticky footer
    http://materializecss.com/footer.html
*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.contributors li a {
    font-weight: 100;
    color: black;
}
.contributors li {
    text-align: center;
}
ul.contributors {
    margin-top: 0;
}

/*
    Canvas as background
*/
#demo-canvas {
    position: fixed;
    z-index: -50; /* Lower more if problems with element interactions caused by canvas appears */
}